#!/bin/bash

# . Bash environment variables and paths to be added to a user's ".bash_profile" file.
# . PDYNAMO3_ORCACOMMAND, PDYNAMO3_SCRATCH and PYTHONPATH will likely need modifying.

# . The root of the program.
PDYNAMO3_HOME={pDynamoHome} ; export PDYNAMO3_HOME

# . Additional paths.
PDYNAMO3_ORCACOMMAND={orcaCommand:<45s} ; export PDYNAMO3_ORCACOMMAND
PDYNAMO3_PARAMETERS={parameters:<46s} ; export PDYNAMO3_PARAMETERS
PDYNAMO3_PYTHONCOMMAND={pythonCommand:<43s} ; export PDYNAMO3_PYTHONCOMMAND
PDYNAMO3_SCRATCH={scratch:<49s} ; export PDYNAMO3_SCRATCH   
PDYNAMO3_STYLE=$PDYNAMO3_PARAMETERS/ccsStyleSheets/defaultStyle.css ; export PDYNAMO3_STYLE     

# . The python path.
PYTHONPATH={pythonPath} ; export PYTHONPATH
